.chat-main
  .main-header
    .left-header
      .left-header__name
        グループ名
      %ul.left-header__members
        Member:
        %li.left-header__member
          メンバー名
        %li.left-header__member
          メンバー名
        %li.Member
          メンバー名
    .right-header 
      .right-header__botton
        Edit

  .messages
    .message
      .message__upper-info
        .message__upper-user
          メンバー
        .message__upper-date
          日付け
      .message-text
        メッセージ
      .message__upper-info
        .message__upper-user
          メンバー
        .message__upper-date
          日付け
      .message-text
        メッセージ
      .message__upper-info
        .message__upper-user
          メンバー
        .message__upper-date
          日付け
      .message-text
        メッセージ

  .form
    %form.new-message
      .input-box
        %input{type: "text", class: "input-box__text"}
        %label{class: "input-box__image"}
          = fa_icon "image"
          %input{type: "file", class: "input-box__image__file"}
        %input{type: "submit", class: "submit-btn"}