.side-bar
  .header
    .header__name
      ユーザーネーム
    %ul.header__lists
      %li.header__list 
        = fa_icon "edit"
      %li.header__list
        = fa_icon "cog"

  .groups
    .group
      .group__name
        グループ名
      .group_message
        新着メッセージ
      .group__name
        グループ名
      .group_message
        新着メッセージ
      .group__name
        グループ名
      .group_message
        新着メッセージ