.side-bar
  .header
    .header__name
      ユーザーネーム
    %ul.header__lists
      %li.header__lists__edit 
        = fa_icon "edit"
      %li.header__lists__cog
        = fa_icon "cog"

  .groups
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
      .group__name
        グループ名
      .group__message
        新着メッセージ
      .group__name
        グループ名
      .group__message
        新着メッセージ